* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #eef4f8;
  color: #0f172a;
}

.app {
  min-height: 100vh;
}

/* BARRA SUPERIOR */
.navbar {
  background: #7dd3fc;
  padding: 18px 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 10px 25px rgba(0,0,0,0.12);
  position: sticky;
  top: 0;
  z-index: 10;
}

.logo {
  height: 55px;
  background: white;
  padding: 6px;
  border-radius: 14px;
}

.menu {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.menu button {
  border: none;
  background: white;
  color: #0038a8;
  padding: 11px 16px;
  border-radius: 999px;
  font-weight: 900;
  cursor: pointer;
}

/* CONTENIDO */
.contenido {
  padding: 40px;
}

/* HERO SIN IMAGEN PARA EVITAR ERROR */
.hero {
  min-height: 330px;
  background: linear-gradient(90deg, #0038a8, #7dd3fc, #d52b1e);
  color: white;
  border-radius: 30px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 18px 45px rgba(0,0,0,0.18);
}

.hero h1 {
  font-size: 48px;
  margin: 0;
}

.hero p {
  font-size: 20px;
}

/* CUADROS */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 24px;
  margin-top: 30px;
}

.card {
  background: white;
  border-radius: 24px;
  padding: 26px;
  box-shadow: 0 18px 45px rgba(15, 23, 42, 0.10);
  border: 1px solid #e2e8f0;
  border-top: 7px solid #0038a8;
  text-align: center;
}

.card h3 {
  color: #d52b1e;
  font-size: 30px;
  margin: 0 0 15px;
}

.card p {
  font-size: 17px;
}

.card button {
  width: 100%;
  background: #25d366;
  color: white;
  border: none;
  padding: 15px;
  border-radius: 16px;
  font-size: 15px;
  font-weight: 900;
  margin-top: 16px;
  cursor: pointer;
}

/* EMPRESA */
.empresa {
  max-width: 900px;
  margin: 30px auto;
  background: white;
  padding: 35px;
  border-radius: 26px;
  box-shadow: 0 18px 45px rgba(15, 23, 42, 0.10);
  border-left: 10px solid #d52b1e;
}

.empresa h2 {
  color: #0038a8;
  font-size: 32px;
}

.empresa p {
  font-size: 19px;
  line-height: 1.6;
}

/* CELULAR */
@media (max-width: 800px) {
  .navbar {
    padding: 18px;
    flex-direction: column;
    gap: 16px;
  }

  .contenido {
    padding: 20px;
  }

  .hero {
    padding: 32px;
  }

  .hero h1 {
    font-size: 36px;
  }
}